.title {
  font-weight: bold;
}

.content {
  text-indent: 2em;
}

.category-title {
  font-size: 16px;
  font-weight: bold;
  margin: 2em 1em;
}

.info-line {
  font-size: 15px;
  line-height: 1.5em;
  margin: 10px;
  margin-left: 2em;
}

.info-sub-line {
  font-size: 14px;
  line-height: 1.5em;
  margin: 10px;
  margin-left: 1.5em;
}

.tips {
  font-style: italic;
  font-size: 14px;
  color: #233;
  margin: 2em;
  text-indent: 2em;
}